header {
    padding: 20px 70px;
}
table {
    width: 100%;
    table-layout: auto;
    text-align: center;
}
tr {
    width: 100%;
    line-height: 4;
    border-top: 1px solid #aaa;
}
.sec-title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.sec-title form button {
    background-color: white;
    border: 1px solid #2385d0;
    color: #2385d0;
    margin: 0 30px;
}
.pagination {
    display: flex;
    justify-content: center;
}
.select {
    padding: 0 10px;
}
/* .items-center,
svg.w-5.h-5 path {
    display: flex;
    justify-content: center;
}
svg.w-5.h-5 {
    width: 30px;
    height: 30px;
} */
