table {
    width: 100%;
    table-layout: auto;
    text-align: center;
}
tr {
    width: 100%;
    line-height: 4;
    /* height: 60px; */
    /* line-height: 60px; */
    border-top: 1px solid #aaa;
}
.sec-title {
    display: flex;
    font-size: 20px;
    /* font-weight: normal; */
}
.sec-title form button {
    background-color: white;
    border: 1px solid #2385D0;
    color: #2385D0;
}
