.contents {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content {
    background-color: white;
    padding: 80px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 22px;
}
form {
    display: flex;
    width: calc(100% / 2 - 30px);
}
.content p {
    text-align: center;
    font-size: 22px;
}
