.sec-title {
  text-align: center;
  font-size: 26px;
  padding-bottom: 30px;
}
.contents {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.content {
  display: block;
  background-color: white;
  width: calc(100% / 2 - 30px);
  padding: 80px;
  margin: 0 30px 30px 0;
  border-radius: 5px;
}
.content p {
  text-align: center;
  font-size: 22px;
}